window {
    background: #2d2d30;
}

menubar{
    color: rgb(255, 115, 0);
}

paned {
    background: #5f5f66;
}

menuitem:hover {
    color: white;
    box-shadow: none;
    background-color: rgb(141, 104, 74);
}


.view {
    background: #3c3c41;
    color: rgb(255, 115, 0);
    box-shadow: none;
}

.view:selected {
    background: rgb(141, 104, 74);
    box-shadow: none;
    color: rgb(255, 255, 255);
}

box:selected {
    background: rgb(141, 104, 74);
    box-shadow: none;
    color: rgb(255, 255, 255);
}
