window {
    /*font: Comic Sans 12;*/
    background: blue;

}

button {
    background: #669999;
    text-shadow: 1px 1px 5px black;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}

button:hover {
    background: #3085a9;
}
